@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    display: flex;
    flex-direction: column;
    border: 1px solid #0000;
    border-radius: 12px;
    background: linear-gradient(#131219, #021e3d) padding-box, linear-gradient(
            var(--angle),
            rgba(0, 0, 0, 0),
            #528fda
    ) border-box;
    animation: 4s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}